openapi: 3.0.3
info:
  title: Astraguard Backend API
  version: 0.1.0
  description: >
    Public + internal API for verification, scoring, the scam address registry, certification,
    and claims. This is the contract with astraguard-frontend's generated api-client.
servers:
  - url: https://api.astraguard.io
  - url: http://localhost:4000

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      summary: Liveness/readiness check
      security: []
      responses:
        '200':
          description: Service status

  /v1/scores/{assetOrContract}:
    get:
      summary: Current trust score and verdict for an address or contract
      security: []
      parameters:
        - name: assetOrContract
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Score result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScoreResult' }

  /v1/scores/{assetOrContract}/history:
    get:
      summary: Score time series
      security: []
      parameters:
        - name: assetOrContract
          in: path
          required: true
          schema: { type: string }
        - name: since
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Score history points

  /v1/scan:
    post:
      summary: Pre-transaction verdict — the extension's core call, anonymous-capable
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScanRequest' }
      responses:
        '200':
          description: Verdict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScanResponse' }

  /v1/registry:
    get:
      summary: List registry reports for an address
      security: []
      parameters:
        - name: address
          in: query
          required: true
          schema: { type: string }
      responses:
        '200': { description: Reports }
    post:
      summary: File a community scam report
      responses:
        '201': { description: Report created }

  /v1/registry/{id}/endorse:
    post:
      summary: Analyst endorsement (step 1 of the two-person rule)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Report endorsed }

  /v1/registry/{id}/confirm:
    post:
      summary: Independent analyst confirmation (step 2 of the two-person rule)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Report confirmed and propagated }

  /v1/registry/{id}/reject:
    post:
      summary: Reject a pending or endorsed report
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Report rejected }

  /v1/certifications:
    post:
      summary: Submit a project for launch certification
      responses:
        '201': { description: Certification created; checklist run synchronously }

  /v1/certifications/{id}:
    get:
      summary: Get certification status
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Certification }

  /v1/certifications/{id}/decide:
    post:
      summary: Analyst approve/reject decision
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Certification decided }

  /v1/certifications/{id}/kyc:
    post:
      summary: Submit team KYC evidence for a certification's project
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '201': { description: KYC submission recorded as pending }

  /v1/certifications/{id}/kyc/decide:
    post:
      summary: Analyst verified/rejected decision on a KYC submission
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: KYC submission decided }

  /v1/claims:
    post:
      summary: File an insurance claim
      responses:
        '201': { description: Claim filed; tracing job enqueued }

  /v1/claims/{id}:
    get:
      summary: Get claim status
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Claim }

  /v1/claims/{id}/review:
    post:
      summary: Move a filed claim into review
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Claim in review }

  /v1/claims/{id}/decide:
    post:
      summary: Approve or reject a claim in review
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Claim decided }

  /v1/webhooks:
    get:
      summary: List the caller's registered partner webhooks
      responses:
        '200': { description: Webhooks }
    post:
      summary: Register a partner webhook
      responses:
        '201': { description: Webhook registered }

  /v1/webhooks/{id}:
    delete:
      summary: Remove a partner webhook
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Webhook removed }

  /v1/webhooks/{id}/rotate-secret:
    post:
      summary: Rotate the HMAC signing secret for a partner webhook
      description: >
        Generates a new 64-character hex HMAC secret for the webhook, replaces the stored
        secret in-place, and returns it exactly once. The webhook's id, url, events, and
        history are preserved. The caller must update their signature verification logic
        immediately — the old secret is no longer valid after this call.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Secret rotated; new secret returned once
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      owner_id: { type: string, format: uuid }
                      url: { type: string, format: uri }
                      events:
                        type: array
                        items: { type: string }
                      active: { type: boolean }
                      created_at: { type: string, format: date-time }
                  secret:
                    type: string
                    description: >
                      The new raw HMAC secret — returned exactly once. Store it immediately;
                      it cannot be retrieved again.
        '401': { description: Missing or invalid API key }
        '404': { description: Webhook not found or does not belong to the caller }

  /v1/admin/api-keys:
    get:
      summary: List all API keys (admin view)
      description: >
        Returns all active API keys across all owners. Requires the `admin:api-keys` scope.
        The raw key is never returned here — it is only available at issuance time.
      parameters:
        - name: includeRevoked
          in: query
          schema: { type: string, enum: ['true', 'false'], default: 'false' }
          description: Include revoked keys in the response
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: ownerId
          in: query
          schema: { type: string, format: uuid }
          description: Filter to a specific user's keys
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKeyRecord' }
                  pagination:
                    type: object
                    properties:
                      limit: { type: integer }
                      offset: { type: integer }
        '401': { description: Missing or invalid API key / insufficient scope }
    post:
      summary: Issue a new API key
      description: >
        Creates (or looks up) a user by email and issues a new API key with the specified
        scopes and rate-limit tier. Requires the `admin:api-keys` scope. The `rawKey` in the
        response is shown exactly once and is never stored — save it immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IssueApiKeyRequest' }
      responses:
        '201':
          description: API key issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey: { $ref: '#/components/schemas/IssuedApiKeyResponse' }
        '400': { description: Validation error }
        '401': { description: Missing or invalid API key / insufficient scope }

  /v1/admin/api-keys/{id}:
    delete:
      summary: Revoke an API key
      description: >
        Soft-deletes the key by setting `revoked_at`. The key is immediately rejected by the
        auth middleware on subsequent requests. Returns 409 if the key is already revoked.
        Requires the `admin:api-keys` scope.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked: { type: boolean }
                  id: { type: string, format: uuid }
        '401': { description: Missing or invalid API key / insufficient scope }
        '404': { description: API key not found }
        '409': { description: API key is already revoked }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    ScoreResult:
      type: object
      properties:
        subjectAddress: { type: string }
        score: { type: number }
        verdict: { type: string, enum: [safe, caution, danger] }
        signals: { type: object }
    ScanRequest:
      type: object
      required: [destination]
      properties:
        destination: { type: string }
        contractId: { type: string }
        operationType: { type: string }
    ScanResponse:
      type: object
      properties:
        verdict: { type: string, enum: [safe, caution, danger] }
        score: { type: number }
        reasons:
          type: array
          items: { type: string }
    ApiKeyRecord:
      type: object
      properties:
        id: { type: string, format: uuid }
        ownerId: { type: string, format: uuid }
        ownerEmail: { type: string, format: email }
        label: { type: string }
        scopes:
          type: array
          items: { type: string }
        rateLimitTier: { type: string, enum: [standard, partner, internal] }
        createdAt: { type: string, format: date-time }
        revokedAt: { type: string, format: date-time, nullable: true }
    IssueApiKeyRequest:
      type: object
      required: [ownerEmail, scopes]
      properties:
        ownerEmail:
          type: string
          format: email
          description: Email of the user to issue the key for; created if it doesn't exist
        label:
          type: string
          minLength: 1
          maxLength: 100
          default: admin-issued
        scopes:
          type: array
          minItems: 1
          items:
            type: string
            enum: [admin:api-keys, registry:review, certification:decide, claims:review]
        rateLimitTier:
          type: string
          enum: [standard, partner, internal]
          default: standard
        role:
          type: string
          enum: [analyst, admin, partner]
          default: analyst
          description: Role assigned when creating a new user; ignored for existing users
    IssuedApiKeyResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        ownerId: { type: string, format: uuid }
        ownerEmail: { type: string, format: email }
        label: { type: string }
        scopes:
          type: array
          items: { type: string }
        rateLimitTier: { type: string, enum: [standard, partner, internal] }
        rawKey:
          type: string
          description: >
            The raw API key — returned exactly once at issuance and never stored.
            Store it immediately; it cannot be retrieved again.
